
@{
    ViewBag.Title = "简介";
}

<h2>微信公众号相关功能的一个Demo</h2>

<hr />

<h3>简介：</h3>
<p>开发平台：VS2017</p>
<p>.NET Framework 4.5.2</p>
<p>部署在阿里云服务器</p>
<p>网址：www.duanbi0238.cn</p>
<p>源码地址：https://github.com/easiles/WeChat.Demo</p>


<br />
<h3>主要功能：</h3>
<p>1. Token 验证 【完成】</p>
<p>2. 消息处理（接受/应答） 【完成】</p>
<p>3. 自定义菜单 【完成】</p>
<p>4. 生成待参数的二维码【完成】</p>
<p>5. 授权登录【未完成】</p>
<p>6. 分享【未完成】</p>
<p>7. 用户管理 【完成】【用户openId列表, 用户明细】</p>
<p>8. 模板消息 【完成】</p>

<br />
<h3>测试共公众号：</h3>
<img src="~/img/0.jpg"/>


